{{>header}}

<br><br><br><br></br>

<div class="input" align="center">
<form class="" action="/greetings" method="post">
  <p class="counter" name="counter"><label for="counter">Counter:</label>{{counter}}</p><br>

  <a href="/greeted">View Greeted Names</a><br><br>
    <input type="text" class="name" name="id" placeholder="Enter Your Name" value=""></input><br><br>

    <label class="radio-inline">
      <input type="radio" class="lang" name="language" value="english"><b>English
    </label>
    <label class="radio-inline">
      <input type="radio" class="lang"name="language" value="afrikaans"><b>Afrikaans</b>
    </label>
    <label class="radio-inline">
      <input type="radio" class="lang" name="language" value="xhosa"><b>Xhosa</b>
    </label><br><br>

    <input type="submit" class="greetButton" name="submit" value="Submit"></input><br><br><br></br>

  </form>
  <p class="outp">{{output}}</p><br>

  {{#if messages.error}}
  <div class="msg1">
    {{messages.error}}
  </div>
  {{/if}}
</div><br><br></br>

{{>footer}}
