{{>header}}

<div class="greeted_Names"><br><br><br></br>

  <p><h1 align="center"><u>Names That Have Been Greeted:</u></h1></p><br>

<tbody align="center">
  {{#each greeted}}
  <li>{{greetedN}}</li>
  {{/each}}
</tbody>
</div>

{{>footer}}


<!-- deploy to Heroku -->
