{{>header}}

<div class="greeted" align="center"><br><br><br></br>
  <a href='/greetings'>Greet more peeps</a>
  <p><h1 align="center"><u>Names That Have Been Greeted:</u></h1></p><br>
<tbody>
  <h3>
  {{#each name}}
  <ul>{{this}}</ul>
  {{/each}}
</h3>
</tbody>
</div>

{{>footer}}
